{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>Workout</h1>      
    <p>Record your workout routines!</p>
  </div>
</div>
<div class="homepage">
    <p style="text-align:center;font-size:18px;">Workout is a application that allows new or experienced 'gym-goers' to create new workout routines and sessions using a list of popular exercises. Edit and delete your workouts depending on your overall goals. </p>   
    <br />
    <br />
    <br />
  </div>
<div class="homepage_bttn text-center" >
  <button class="button button5"; onclick="window.location.href='routine'"> Design a Workout now</button>
</div>





{% endblock %}
